*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

* {
  box-sizing: border-box;
  line-height: 120% !important;
  font-family: Comfortaa, sans-serif !important;
}

body {
  background: #B08298;
  background-image: url("../static/img/background.png");
  color: #3F4445;
  overflow-x: hidden;
  max-width: 420px;
  min-width: 320px;
  margin: 0 auto;
  padding: 10px;
}
@media (min-width: 768px) {
  body {
    max-width: 1200px;
  }
}
@media (min-width: 1200px) {
  body {
    padding: 0;
  }
}

p {
  font-size: calc(10px + 0.6vw);
}

h2, h3 {
  font-size: calc(18px + 0.5vw);
}

a {
  text-decoration: none;
  color: #3F4445;
  font-size: calc(18px + 0.5vw);
}

img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.card {
  background: #F5F4F0;
  border-radius: 20px;
  margin-bottom: 10px;
  padding: 30px 20px;
}

@media (min-width: 760px) {
  .left-wrapper {
    width: 60%;
  }
  .right-wrapper {
    width: 38.3%;
  }
  .card {
    margin-bottom: 20px;
    padding: 47.5px 31.5px;
  }
}
@media (min-width: 1200px) {
  h2, h3 {
    font-size: 50px;
  }
  .card {
    background: #F5F4F0;
    border-radius: 30px;
    padding: 75px 50px;
  }
}
.about-me__box {
  display: flex;
  flex-direction: column;
  position: relative;
}
.about-me__tags {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  top: 50px;
  right: 6px;
  gap: 10px;
  z-index: 1;
}
@media (min-width: 340px) {
  .about-me__tags {
    padding-right: 20px;
  }
}
.about-me__tag {
  white-space: nowrap;
  padding: 5px 12px;
  border-color: #B08298;
  border-width: 1px;
  border-style: solid;
  font-size: calc(10px + 0.6vw);
  text-align: right;
  border-radius: 5px;
}
.about-me__tag#ux-tag {
  order: 1;
}
.about-me__welcome-text {
  margin-top: 0;
  padding-top: 233px;
  font-size: 12px;
  margin-bottom: 7px;
  line-height: 120%;
}
@media (min-width: 380px) {
  .about-me__welcome-text {
    padding-top: 260px;
  }
}
@media (min-width: 400px) {
  .about-me__welcome-text {
    padding-top: 280px;
  }
}
@media (min-width: 420px) {
  .about-me__welcome-text {
    padding-top: 300px;
  }
}
.about-me__welcome-text span {
  font-size: calc(18px + 0.5vw);
  font-weight: 500;
}
.about-me__welcome-note {
  margin-bottom: 30px;
  font-size: calc(10px + 0.6vw);
}
.about-me__discuss-btn {
  width: 100%;
  height: 50px;
  border-radius: 15px;
  background: #B08298;
  border-width: 0;
  color: #F5F4F0;
  font-weight: 500;
}
.about-me__pretentios-notes {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-me__pretentios-note {
  margin-top: 0;
  margin-bottom: 18px;
}
.about-me__pretentios-note:last-child {
  margin: 0;
}
.about-me__photo-wrapper {
  height: 212px;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 30px;
  left: 20px;
  padding: 0;
}
.about-me__photo-wrapper img {
  display: block;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 380px) {
  .about-me__photo-wrapper {
    height: 240px;
  }
}
@media (min-width: 400px) {
  .about-me__photo-wrapper {
    height: 260px;
  }
}
@media (min-width: 420px) {
  .about-me__photo-wrapper {
    height: 280px;
  }
}

@media (min-width: 768px) {
  .about-me__box {
    flex-direction: row;
    justify-content: space-between;
  }
  .about-me__tags {
    position: static;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 0;
    padding: 0;
  }
  .about-me__tag {
    padding: 15px 35px;
    font-size: 12px;
    text-align: right;
    border-radius: 10px;
  }
  .about-me__welcome-card {
    height: 580px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .about-me__welcome-text {
    margin-top: 0;
    padding-top: 0;
    font-size: 12px;
    margin-bottom: 7px;
    line-height: 120%;
    font-size: 40px;
  }
  .about-me__welcome-text span {
    font-size: 50px;
    font-weight: 500;
  }
  .about-me__welcome-note {
    margin-bottom: 0;
    font-size: calc(18px + 0.5vw);
  }
  .about-me__discuss-btn {
    width: 100%;
    height: 90px;
    border-radius: 20px;
    font-size: 18px;
  }
  .about-me__pretentios-note {
    margin-bottom: 40px;
  }
  .about-me__pretentios-note:last-child {
    margin: 0;
  }
  .about-me__photo-wrapper {
    top: 0;
    left: 0;
    height: 580px;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 20px;
    padding: 10px;
  }
  .about-me__photo-wrapper img {
    border-radius: 20px;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .about-me__welcome-card {
    padding: 87.5px 50px;
    height: 620px;
  }
  .about-me__welcome-text {
    margin-top: 0;
    padding-top: 0;
    font-size: 12px;
    margin-bottom: 40px;
    line-height: 120%;
    font-size: 40px;
  }
  .about-me__welcome-text span {
    font-size: 50px;
    font-weight: 500;
  }
  .about-me__welcome-note {
    margin-bottom: 60px;
    font-size: calc(18px + 0.5vw);
  }
  .about-me__photo-wrapper {
    height: 620px;
    padding: 20px;
  }
}
.contacts__title {
  margin-bottom: 10px;
}
.contacts__wrapper.right-wrapper {
  display: none;
}
.contacts__wrapper.left-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contacts__list li:last-child {
  margin: 0;
}
.contacts__list li a {
  font-size: calc(10px + 0.6vw);
  text-decoration: underline;
}

@media (min-width: 768px) {
  .contacts__row-wrapper {
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .contacts__description {
    margin-bottom: 45px;
  }
  .contacts__title {
    margin-bottom: 45px;
  }
  .contacts__wrapper.right-wrapper {
    display: flex;
    padding: 10px;
  }
  .contacts__wrapper.right-wrapper img {
    display: block;
    border-radius: 30px;
    max-width: 100%;
    margin: 0 auto;
  }
  .contacts__list li {
    margin-bottom: 30px;
  }
  .contacts__list li a {
    font-size: 50px;
  }
}
#footer-nav {
  order: -1;
  justify-content: flex-start;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
}
.footer__card-half {
  margin-bottom: 10px;
}
.footer__card-half p, .footer__card-half a {
  font-size: 7px;
}
.footer__card-half p:last-child, .footer__card-half a:last-child {
  margin: 0;
}
.footer__politics {
  text-decoration: underline;
}
.footer__navbar li {
  margin-bottom: 20px;
}
.footer__navbar li:last-child {
  margin: 0;
}
.footer__navbar li a {
  font-size: calc(18px + 0.5vw);
}

@media (min-width: 1200px) {
  #footer-nav {
    order: 0;
  }
  .footer__wrapper {
    flex-direction: row;
  }
  .footer__card-half {
    width: 50%;
  }
  .footer__card-half p, .footer__card-half a {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .footer__card-half p:last-child, .footer__card-half a:last-child {
    margin: 0;
  }
}
.navbar {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.navbar__list-element {
  display: none;
}
.navbar__list-element:last-child {
  display: block;
}
@media (min-width: 768px) {
  .navbar {
    padding: 0;
  }
  .navbar__list {
    display: flex;
  }
  .navbar__list-element {
    display: block;
    margin-right: 45px;
  }
  .navbar__list-element:last-child {
    display: none;
    margin: 0;
  }
}

.projects__title {
  margin-bottom: 20px;
}
.projects__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}
.projects__slides-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.projects__slide {
  width: 100%;
  position: relative;
}
.projects__slide-img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.projects__slide-title {
  position: absolute;
  top: 15px;
  left: 15px;
  font-weight: 600;
  font-size: calc(10px + 0.6vw);
}

@media (min-width: 768px) {
  .projects__card {
    padding: 47.5px 0;
  }
  .projects__title {
    margin-bottom: 47.5pxpx;
    padding: 0 50px;
  }
  .projects__slides-wrapper {
    padding: 0 20px;
    max-height: 340px;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .projects__slide {
    position: relative;
    width: 47.5%;
  }
  .projects__slide-img {
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 30px;
  }
  .projects__slide-title {
    position: absolute;
    top: 45px;
    left: 30px;
    font-weight: 600;
    font-size: calc(10px + 0.6vw);
  }
}
@media (min-width: 1000px) {
  .projects__card {
    padding: 75px 0;
  }
  .projects__title {
    margin-bottom: 75px;
    padding: 0 50px;
  }
  .projects__slides-wrapper {
    padding: 0 20px;
  }
}
#design-service-slide {
  height: auto;
  padding-right: 0;
  width: auto;
  z-index: 1;
  width: 60%;
}
#design-service-title {
  width: 48px;
}
#design-service-title ul li:not(:first-child)::before {
  content: "- ";
}

.services__slide {
  width: 48.6%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.services__slide:nth-child(even) {
  margin-right: 0;
}
.services__slide-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.services__slide-row {
  display: flex;
}
.services__slide-title {
  margin-bottom: 20px;
}
.services__slide-list {
  margin-bottom: 20px;
}
.services__slide-title, .services__slide-price {
  font-weight: 600;
  font-size: calc(10px + 0.6vw);
}
.services__slide-list li {
  font-size: calc(10px + 0.6vw);
}
.services__slide-list li:first-child::before {
  content: "/";
}

.empty-card {
  display: none;
}

@media (min-width: 768px) {
  .services__slide {
    width: 23.7%;
    padding: 25px 15px;
  }
  .services__slide-wrapper {
    flex-wrap: nowrap;
  }
  .empty-card {
    display: block;
  }
  #design-service {
    padding: 0;
  }
  #design-service-slide {
    width: 23.7%;
    overflow: visible;
    white-space: nowrap;
  }
  #design-service-title {
    width: 23.7%;
  }
}
.stages__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.stages__title {
  margin-bottom: 20px;
}
.stages__list-element {
  font-size: calc(10px + 0.6vw);
  margin-bottom: 15px;
}
.stages__list-element:last-child {
  margin: 0;
}
.stages__list-element-number {
  font-size: calc(18px + 0.5vw);
  font-weight: 600;
}

@media (min-width: 1200px) {
  .stages__title {
    margin-bottom: 45px;
  }
  .stages__list-element {
    font-size: calc(10px + 0.6vw);
    margin-bottom: 30px;
  }
}/*# sourceMappingURL=style.css.map */